.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.model {
  width: 70%;
  padding: 10px;
  background: rgba(222, 184, 135, 0.4);
  border: 2px solid rgba(222, 184, 135);
  border-radius: 20px;
}

.model-header {
  padding: 1%;
  border-radius: 10px;
  background: black;
  color: white;
}
